img {
    border-radius: 75px;
    animation: bounce 2s infinite;
    margin-top: 20px;
}

h2 {
    font-size: 18px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
    background: linear-gradient(slateblue, lightblue);
}

header {
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
}

.project {
    margin-bottom: 2rem;
    border: 5px solid white;
    padding: 10px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}